@tailwind base;
@tailwind components;
@tailwind utilities;

// import
@import "./components/header.scss";
@import "./components/loader.scss";
@import "./components/sidebar.scss";
@import "./components/pokemon_id";

// font family
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');


// style général

.font-DynaPuff {
    font-family: 'DynaPuff', cursive;
}

.lottie {
    width: 450px;
    height: 450px;
}

.layout-secure {
    overflow-x: hidden;
}