.bg-pokemon-sidebar {
    background: linear-gradient(to right bottom, #00f2d2, #56f6ff, #abf5ff, #e6f6ff);
}

.remove-item {
    width: 15px !important;
}

@media (max-width: 565.98px) {

    .text-xxs {
        font-size: 0.60rem;

        line-height: 2rem;
        font-weight: bold;
        color: black;

    }
}